/*Global Styles*/

*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  color: #fff;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
}
/* Header Styles */

.intro {
  background: lightgray;
  background-image: url(./images/header-background.jpg);
  padding: 100px 0;
}

.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 100px;
  margin-top: 200px;
  padding: 15px;
  text-align: center;
  position: relative;
}

p {
  font: large;
  color: white;
}

.container div > p {
  width: 100%;
  align-self: center;
}

.container div {
  padding: 20px;
}

/* Timeline Styles */

.timeline ul {
  background: white;
  padding: 50px 0;
  overflow-x: hidden;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 10px;
  margin: 0 auto;
  padding-top: 50px;
  background: black;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div.card {
  position: relative;
  bottom: 0;
  width: 400px;
  height: 400px;
  padding: none;
  background: none;
}

.timeline ul li:nth-child(odd) div.card {
  left: 45px;
}

.timeline ul li:nth-child(odd) div.card::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent lightgray transparent transparent;
}

.timeline ul li:nth-child(even) div.card {
  left: -439px;
}

.timeline ul li:nth-child(even) div.card::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent lightgray;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Fade In Fade Out Styles */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: lightgray;
}

.timeline ul li div.card {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div.card {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div.card {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div.card {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/*Card Flip*/

.card {
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}
.front,
.back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  overflow: scroll;
  height: 100%;
}

.front {
  border: none;
}

.front:hover {
  /* bottom: 2px;
  left: 2px; */
  box-shadow: 0px 0px 20px 1px #000;
}

.back {
  border: none;
  transform: rotateY(180deg);
  padding: 20px;
  background: lightgray;
  align-items: center;
}

.back > h2 {
  color: black;
  padding: 10px;
  margin-top: 10px;
}

.back > p {
  color: black;
  line-height: 25px;
}

.back:hover {
  /* bottom: 2px;
  right: 2px; */
  box-shadow: 0px 0px 20px 1px #000;
}

/* Mobile Styles */

@media screen and (max-width: 900px) {
  .timeline ul li div.card {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div.card {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div.card {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div.card {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div.card::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent lightgray transparent transparent;
  }
  .front,
  .back {
    overflow: scroll;
    height: 100%;
    width: auto;
  }
  p {
    overflow: scroll;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
    padding: 15px;
  }
}

/*Footer Styles*/

footer > p {
  color: black;
  width: 100%;
  text-align: center;
  padding: 20px 10px 50px 10px;
  font-size: 25px;
}

footer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

button {
  font-size: 30px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: lightgray;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
div .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
